{% extends "base.html" %} 

{% block title %}Home{% endblock %} 

{% block content %}
  <h1 align="center">Debatorica</h1>
  <p align="center">upload your case here!</p>
  
  <!-- Toggle button for notes -->
  <div align="center">
    <button id="toggleNotes" class="btn btn-info" onClick="toggleNotes()">Show Notes</button>
  </div>
  
  <!-- Display existing notes -->
  <ul class="list-group list-group-flush" id="notes" style="display: none;">
    {% for note in user.notes %}
    <li class="list-group-item" style="color: black;">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>

  <!-- Note adding form -->
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>

  <br>

  <!-- PDF upload form -->
  <h3 align="center">Upload PDF for Text Extraction</h3>
  <form method="POST" enctype="multipart/form-data" action="/upload-pdf">
    <input type="file" name="pdf_file" accept="application/pdf" class="form-control-file" required />
    <br />
    <div align="center">
      <button type="submit" class="btn btn-secondary">Upload PDF</button>
    </div>
  </form>

  <script>
    function toggleNotes() {
      const notesList = document.getElementById('notes');
      const toggleButton = document.getElementById('toggleNotes');
      
      if (notesList.style.display === 'none') {
        notesList.style.display = 'block';
        toggleButton.textContent = 'Hide Notes';
      } else {
        notesList.style.display = 'none';
        toggleButton.textContent = 'Show Notes';
      }
    }
  </script>
  
{% endblock %}
