{% extends "base.html" %} 

{% block title %}Home{% endblock %} 

{% block content %}
  <!-- PDF upload form -->
  <h1 class="text-center">Upload PDF for Text Extraction</h1>
  <p class="text-center">Upload your case here!</p>
  <form method="POST" enctype="multipart/form-data" action="/upload-pdf" class="text-center">
    <div class="form-group">
      <center>
      <div class="file-input-wrapper">
        <input type="file" name="pdf_file" accept="application/pdf" class="form-control-file" required />
      </div>
    </center>
    </div>
    <br />
    
    <div class="button-container">
      <button type="submit" class="btn btn-secondary">Upload PDF</button>
      <button id="toggleNotes" class="btn btn-info" onClick="toggleNotes()">Show Notes</button>
    </div>
  </form>

  <br>
  
  <!-- Display existing notes -->
  <ul class="list-group list-group-flush" id="notes" style="display: none;">
    {% for note in user.notes %}
    <li class="list-group-item" style="color: black;">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>

  <script>
    function toggleNotes() {
      const notesList = document.getElementById('notes');
      const toggleButton = document.getElementById('toggleNotes');
      
      if (notesList.style.display === 'none') {
        notesList.style.display = 'block';
        toggleButton.textContent = 'Hide Notes';
      } else {
        notesList.style.display = 'none';
        toggleButton.textContent = 'Show Notes';
      }
    }
  </script>
  
  <style>
    .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    .text-center {
      text-align: center;
    }
    .file-input-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .form-control-file {
      width: fit-content;
      margin: 0 auto;
    }
    /* Optional: If you want to style the file input button itself */
    .form-control-file::-webkit-file-upload-button {
      margin: 0 auto;
    }
</style>
  
{% endblock %}
